<template>
  <el-dialog
    title="New Sale"
    :visible.sync="isShown"
    @close="$emit('closeProductDialog')"
    :width="getWidth"
    center>

    <div slot="title">
      <h3>{{title}}</h3>
    </div>

    <el-form :label-position="'left'" label-width="100px" :model="innerProduct">

      <el-form-item
        label="Name"
        prop="name"
        :rules="[
                { required: true, message: 'Name is required'},
              ]">
        <el-input v-model="innerProduct.name"/>
      </el-form-item>

      <el-form-item
        label="Cost Price"
        prop="costPrice"
        :rules="[
                { required: true, message: 'Cost Price is required'}
              ]">
        <el-input type="number" v-model.number="innerProduct.costPrice"/>
      </el-form-item>


      <el-form-item
        label="Selling Price"
        prop="sellingPrice"
        :rules="[
                { required: true, message: 'Selling Price is required'}
              ]">
        <el-input type="number" v-model.number="innerProduct.sellingPrice"/>
      </el-form-item>

      <el-form-item
        label="Profit"
        >
        <el-input v-model="innerProduct.sellingPrice - innerProduct.costPrice"/>
      </el-form-item>

      <el-form-item
        label="Stock Count"
      >
        <el-input v-model.number="innerProduct.stockCount"/>
      </el-form-item>

    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="$emit('closeProductDialog')">Cancel</el-button>
      <el-button type="primary" @click="onConfirmProduct">Confirm</el-button>
    </div>
  </el-dialog>
</template>

<script>
  export default {
    name : "add-update-product-modal",
    props : ['product', 'isVisible', 'title', 'mode'],
    data() {
      return {
        innerProduct : this.product,
        isShown: false,
      }
    },
    methods:{
      onConfirmProduct : function () {
        if (this.mode === 'edit'){
          this.$store.dispatch('updateProduct', this.innerProduct);
        }

        if (this.mode === 'create'){
          this.$store.dispatch('createProduct', this.innerProduct);
        }

        this.$emit('closeProductDialog');
      }
    },
    computed:{
      getWidth: function () {
        return this.$mq === 'mobile'? '90%' :
          this.$mq === 'phablet'? '70%' :
            this.$mq === 'tablet'? '60%' :
              this.$mq === 'laptop'? '50%' :'80%';
      }
    },
    watch:{
      product: function () {
        this.innerProduct = this.product;
      },
      isVisible: function () {
        this.isShown = this.isVisible;
      }
    }
  }
</script>

<style scoped>

</style>
