<template>
  <div>
    <button-component
      :text="'Add New Product'"
      :type="'success'"
      :position="'right'"
      @onClick="onNewProduct"
    />
    <br/>
    <products-table
      :filtered-products="filteredProducts"
      :title="'Products'"
      @onRowClicked="onProductItemClicked"
    />

    <br/>
    <div class="block">
      <el-pagination
        style="float: right; clear: both"
        :page-size="pagination.pageSize"
        layout="prev, pager, next"
        @current-change="onChangePage"
        :total="Object.keys(products).length">
      </el-pagination>
    </div>

    <add-update-product-modal
      :title="modal.productDialogTitle"
      :product="selectedProduct"
      :is-visible="modal.isProductDialogVisible"
      :mode="modal.productModalMode"
      @closeProductDialog="modal.isProductDialogVisible=false"
    />
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {slice} from 'lodash';
  import ProductsTable from "./ProductsTable";
  import ButtonComponent from "../general/ButtonComponent";
  import AddUpdateProductModal from "./AddUpdateProductModal";

  const defaultProduct = {
    costPrice : 0,
    sellingPrice : 0,
    name : 'Name',
    stockCount : 0,
  };

  export default {
    components : {
      AddUpdateProductModal,
      ButtonComponent,
      ProductsTable
    },
    name : "products-container",
    data() {
      return {
        filteredProducts : [],
        pagination : {
          pageSize : 5,
        },
        modal :{
          productModalMode: 'create',
          isProductDialogVisible : false,
          productDialogTitle : 'Add New Product',
        },
        selectedProduct : defaultProduct,
      }
    },
    mounted() {
      const allProducts = Object.values(this.products);
      this.filteredProducts = slice(allProducts, 0, this.pagination.pageSize);
    },
    computed : {
      ...mapState(['products'])
    },
    methods : {
      onNewProduct : function () {
        this.modal.productDialogTitle = 'Add New Product';
        this.modal.productModalMode = 'create';
        this.selectedProduct = defaultProduct;
        this.modal.isProductDialogVisible = true;
      },
      onChangePage : function (val) {
        const allProducts = Object.values(this.products);
        const sliceBegins = (val - 1) * this.pagination.pageSize;
        const sliceEnds = val * this.pagination.pageSize;
        this.filteredProducts = slice(allProducts, sliceBegins, sliceEnds);
      },
      onProductItemClicked : function (item) {
        this.modal.productDialogTitle = 'Edit Product';
        this.modal.productModalMode = 'edit';
        this.selectedProduct = item;
        this.modal.isProductDialogVisible = true;
      }
    },
    watch : {
      products : function () {
        const allProducts = Object.values(this.products);
        this.filteredProducts = slice(allProducts, 0, this.pagination.pageSize);
      }
    }
  }
</script>

<style scoped>

</style>
