<template>
  <div>
    <h3 class="">{{title}}</h3>
    <el-card class="box-card">
      <el-table
        highlight-current-row
        @row-click="handleRowClicked"
        :data="filteredProducts">
        <el-table-column type="index" width="50" label="S/N"/>
        <el-table-column prop="name" label="Name" min-width="250"/>
        <el-table-column prop="sellingPrice" width="140" label="Price" :formatter="formatPriceAsCurrency"/>
        <el-table-column prop="stockCount" width="140" label="Stock Count"/>
        <el-table-column label="" width="50">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="dark" content="Out of stock" placement="top-start">
              <i v-if="isOutOfStock(scope.row)" class="el-icon-warning color-red-600"></i>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
  import {formatAsCurrency} from './../../util/FormatterUtil';

  export default {
    name : "products-table",
    props : ['filteredProducts', 'title'],
    methods : {
      handleRowClicked(val) {
        this.$emit('onRowClicked', val);
      },
      formatPriceAsCurrency : function (row, column) {
        return formatAsCurrency(row.sellingPrice);
      },
      isOutOfStock(row) {
        return (row.stockCount - row.minStockThreshold) <= 1;
      }
    }
  }
</script>

<style scoped>

</style>
