body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 15px;
}

.el-header, .el-footer {
  background-color: #000000;
  color: #FFFFFF;
  line-height: 60px;
}

.el-aside {
  position: relative;
  color: #ce1a5c;
  line-height: 200px;
}

.el-aside::after {
  content: "";
  background: url("/static/img/background4.jpg") 15% 180%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.el-main {
  background-color: #FFF;
  color: #333;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-table th > .cell {
  color: black;
  font-size: 0.85rem;

}

.dialog-footer {
  text-align: right;
}

.el-dialog__header {
  border-bottom: 1px solid #ddd;
}

.el-dialog__footer {
  border-top: 1px solid #ddd;
}

.el-table__row {
  cursor: pointer !important;
}

.toast {
  float: right;
}

.el-button--success {
  color: #FFF;
  background-color: #ce1a5c;
  border-color: #ce1a5c;
}

.el-button--success:hover {
  color: #FFF;
  background-color: #ae1a4c;
  border-color: #ae1a4c;
}

.router-link-exact-active .router-link-active {
  color: #000 !important;
  background-color: rgba(100, 100, 100, 0.5) !important;
}

