<template>
  <el-button
    @click="$emit('onClick')"
    :type="type"
    round
    :class="position">
    {{text}}
  </el-button>
</template>

<script>
  export default {
    name : "button-component",
    props : ['text', 'type', 'position']
  }
</script>

<style scoped>
  .right {
    float: right;
    clear: both;
  }
</style>
