<template>
  <el-aside
    id="sidebar"
    class="hidden-sm-and-down"
    width="280px" style="background-color: #000000; border-right: solid 1px #333333;">
    <div @click="closeNav" class="side-bar-header" style="position: relative; z-index: 2">
      <i
        style="position: absolute; top: 10px; right: 10px; font-size: 2rem;"
        class="el-icon-circle-close-outline color-white hidden-md-and-up"
        @click="closeNav"></i>
      <h3
        class="color-white"
        style="position: absolute; right: 20px; font-size: 2rem;">
        Charta
      </h3>
    </div>
    <el-menu
      style="z-index: 2"
      :default-openeds="['1', '3']">

      <!--<router-link :to="{name: 'Dashboard'}"  @onclick="closeNav">-->
        <el-menu-item index="1" @click="goToDashboard">
          <i class="el-icon-menu color-pink-500"></i>Dashboard
        </el-menu-item>
      <!--</router-link>-->

     <!-- <router-link :to="{name: 'Sales'}"  @onclick="closeNav">-->
        <el-menu-item index="2" @click="goToSales">
          <i class="el-icon-sold-out color-pink-500"></i>Sales
        </el-menu-item>
      <!--</router-link>-->

      <!--<router-link :to="{name: 'Products'}">-->
        <el-menu-item index="3"  @click="goToProducts">
          <i class="el-icon-tickets color-pink-500"></i>Products
        </el-menu-item>
      <!--</router-link>-->

      <el-menu-item index="4" @click="logOut">
        <i class="el-icon-circle-close-outline color-pink-500"></i>Log Out
      </el-menu-item>

    </el-menu>
  </el-aside>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name : "side-nav-bar",
    methods : {
      logOut : function () {
        this.$store.commit('SAVE_TOKEN', null);
      },
      closeNav: function () {
        console.log('we close side nav');
        let sideBar = document.getElementById("sidebar");
        sideBar.classList.remove("slidebar_open");
        document.getElementById("overLay").style.display = 'none';
      },
      goToSales: function () {
        this.$router.push('/sales');
        this.closeNav();
      },
      goToProducts: function () {
        this.$router.push('/products');
        this.closeNav();
      },
      goToDashboard: function () {
        this.$router.push('/');
        this.closeNav();
      }
    },
    computed : {
      ...mapState(['token'])
    },
    watch : {
      token : function (newValue, oldValue) {
        console.log(oldValue);
        console.log(newValue);
        if (!newValue || newValue.length === 0) {
          this.$router.push('/login');
        } else {
          this.$router.push('/');
        }
      }
    }
  }
</script>

<style scoped>
  .side-bar-header {
    margin-bottom: 1rem;
    background-color: rgba(0,0,0, 0.14);
    height: 13rem;
  }

  .side-bar-header::after {
    content: "";
    /*background: url("https://e-testpedia.com/projects/foodhub/categories/grains/1.jpg");*/
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .el-menu {
    background-color: transparent;
    border-right: none;
  }

  .el-menu-item {
    font-size: 19px;
    color: #eeeeee;
  }

  .el-menu-item:hover {
    color: #FFFFFF;
    background-color: rgba(100,100,100,0.5);
  }

  .el-menu-item > .is-active {
    color: #000000 !important;
    background-color: rgba(100,100,100,0.5);
  }
  .el-menu-item:active {
    color: #000000 !important;
    background-color: rgba(100,100,100,0.5);
  }

  .el-menu-item i {
    color: #e91e63;
  }

  a {
    text-decoration: none;
    color: black;
    background-color: #ce1a5c;
  }

  a:visited {
    text-decoration: none;
    color: black;
    background-color: #ce1a5c;
  }

  .slidebar_open {
    position: fixed;
    height: 100vh;
    z-index: 3;
    display: block !important;
  }

</style>
