<template>
  <div>
    <span class="" style="font-size: 18px">
      <i @click="openNav" style="vertical-align: middle; cursor: pointer" class="material-icons hidden-md-and-up">menu</i> Charta Stationery
    </span>
    <div id="overLay"></div>
  </div>
</template>

<script>
  import ButtonComponent from "../general/ButtonComponent";

  export default {
    components : {ButtonComponent},
    name : "tool-bar",
    mounted(){
      document.getElementById("overLay").addEventListener('click', function () {
        let sideBar = document.getElementById("sidebar");
        sideBar.classList.remove("slidebar_open");
        document.getElementById("overLay").style.display = 'none';
      })
    },
    methods:{
      openNav: function () {
        console.log('we oen side nav');
        let sideBar = document.getElementById("sidebar");
        sideBar.classList.add("slidebar_open");
        document.getElementById("overLay").style.display = 'block';
      },
      onNewSale: function () {

      }
    }
  }
</script>

<style scoped>
  #overLay{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(200,200,200, 0.5);
    z-index: 2;
  }
</style>
