<template>
  <el-container style="height: 100vh; border: 1px solid #eee">

    <side-nav-bar/>

    <el-container>
      <el-header style="font-size: 12px">
        <tool-bar/>
      </el-header>

      <el-main>
        <router-view style="min-height: 89vh"/>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
  import SideNavBar from "./appbars/SideNavBar";
  import ToolBar from "./appbars/ToolBar";

  export default {
    components : {
      ToolBar,
      SideNavBar
    },
    name : 'HelloWorld',
    data() {
      return {
        msg : 'Welcome to Your Vue.js App'
      }
    },
    mounted(){
      this.$store.dispatch('fetchProducts');
      this.$store.dispatch('fetchSales');
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
