<template>
  <div>

    <el-row :span=24>
      <el-col :xs=24 :sm=8 :md=8 :lg=6 :xl=6>
        <div class="block">
          <span class="hidden-sm-and-down demonstration">From</span>
          <el-date-picker
            v-model="fromDate"
            type="date"
            placeholder="From">
          </el-date-picker>
        </div>
      </el-col>
      <el-col :xs=12 :sm=8 :md=8 :lg=6 :xl=6>
        <div class="block">
          <span class="hidden-sm-and-down demonstration">To</span>
          <el-date-picker
            v-model="toDate"
            type="date"
            placeholder="To">
          </el-date-picker>
        </div>
      </el-col>
      <el-col :xs=24 :sm=8 :md=8 :lg=12 :xl=12>
        <button-component
          :text="'New Sale'"
          :type="'success'"
          :position="'right'"
          @onClick="onNewSale"
        />
      </el-col>
    </el-row>


    <br/>

    <el-row :gutter="10" style="clear: both">
      <summary-card-item
        :icon="'/static/img/icons/004-price.svg'"
        :title="'Total Sales'"
        :value="formatAsCurrency(statistics.totalSales)"
      />
      <summary-card-item
        :icon="'/static/img/icons/001-sale.svg'"
        :title="'Total Profit'"
        :value="formatAsCurrency(statistics.totalProfit)"
      />
      <summary-card-item
        :icon="'/static/img/icons/002-sell.svg'"
        :title="'Number of Sales'"
        :value="statistics.noOfSales"
      />
    </el-row>

    <br/>
    <sales-table
      :filtered-sales="filteredSales"
      :title="'Recent Sales'"
    />

    <br/>
    <products-table
      :filtered-products="filteredProducts"
      :title="'Out of Stock'"
      @onRowClicked="onProductItemClicked"
    />

    <create-sales-modal
      :isVisible="isShowSalesModal"
      @closeSalesDialog="isShowSalesModal = false"
    />

    <add-update-product-modal
      :title="modal.productDialogTitle"
      :product="selectedProduct"
      :is-visible="modal.isProductDialogVisible"
      :mode="modal.productModalMode"
      @closeProductDialog="modal.isProductDialogVisible=false"
    />

  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {sumBy, filter} from 'lodash';
  import moment from 'moment';
  import {formatAsCurrency} from './../../util/FormatterUtil';
  import ButtonComponent from "../general/ButtonComponent";
  import SummaryCardItem from "./SummaryCardItem";
  import SalesTable from "../sales/SalesTable";
  import ProductsTable from "../products/ProductsTable";
  import CreateSalesModal from "../sales/CreateSalesModal";
  import AddUpdateProductModal from "../products/AddUpdateProductModal";

  const defaultProduct = {
    costPrice : 0,
    sellingPrice : 0,
    name : '',
    stockCount : 0,
  };

  export default {
    components : {
      AddUpdateProductModal,
      CreateSalesModal,
      ProductsTable,
      SalesTable,
      SummaryCardItem,
      ButtonComponent
    },
    name : "dashboard-container",
    data() {
      return {
        fromDate: '',
        toDate: '',
        filteredSales : [],
        //filteredProducts : [],
        isShowSalesModal : false,
        statistics : {
          totalSales : 0,
          totalProfit : 0,
          noOfSales : 0
        },
        modal :{
          productModalMode: 'create',
          isProductDialogVisible : false,
          productDialogTitle : 'Add New Product',
        },
        selectedProduct : defaultProduct,
      }
    },
    methods : {
      onNewSale : function () {
        this.isShowSalesModal = true;
      },
      formatAsCurrency : function (value) {
        return formatAsCurrency(value);
      },
      onProductItemClicked : function (item) {
        this.modal.productDialogTitle = 'Edit Product';
        this.modal.productModalMode = 'edit';
        this.selectedProduct = item;
        this.modal.isProductDialogVisible = true;
      },
      filterSales : function () {
        const {fromDate, toDate} = this;

        let salesValues = Object.values(this.sales);

        if (fromDate){
          let start = moment(fromDate);
          salesValues = filter(salesValues, sale=>{
            return moment(start).startOf('day').isBefore(moment(sale.createdAt));
          })
        }

        if (toDate){
          let end = moment(toDate);
          salesValues = filter(salesValues, sale=>{
            return moment(end).endOf('day').isAfter(moment(sale.createdAt));
          })
        }

        this.filteredSales = salesValues.reverse();
      }
    },
    mounted() {
      this.filterSales();
      //this.getOutOfStockProducts();
    },
    computed : {
      ...mapState(['sales', 'products']),
      filteredProducts: function () {
        const allProducts = Object.values(this.products);
        return filter(allProducts, product=>{
          return (product.stockCount - product.minStockThreshold <= 1)
        });
      }
    },
    watch : {
      sales : function () {
        this.filterSales();
      },
      filteredSales : function () {
        this.statistics.totalSales = sumBy(this.filteredSales, sale => {
          return Number(sale.price);
        });
        this.statistics.totalProfit = sumBy(this.filteredSales, sale => {
          return Number(sale.profit);
        });
        this.statistics.noOfSales = this.filteredSales.length;
      },
      fromDate: function () {
        this.filterSales();
      },
      toDate: function () {
        this.filterSales();
      }
    }
  }
</script>

<style scoped>

</style>
