<template>
  <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
    <div class="grid-content bg-black box-card" style="position: relative">
      <img style="z-index: 1" class="summary-card-image" :src="icon"/>
      <br/>
      <div>
        <p class="color-grey-300" style="text-align: center">{{title}}</p>
        <h1 class="color-grey-100" style="text-align: center; font-size: 30px; margin-top: 10px">
          {{value}}
        </h1>
      </div>
    </div>
  </el-col>
</template>

<script>
  export default {
    name : "summary-card-item",
    props:['icon','title', 'value']
  }
</script>

<style scoped>
  .grid-content {
    border-radius: 4px;
    min-height: 9rem;
    margin-top: 3rem;
  }

  .summary-card-image {
    position: absolute;
    width: 56px;
    left: 5%;
    top: -20%;
  }

  .grid-content::after {
    content: "";
    background: url("/static/img/background5.jpg") 80% 80%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
</style>
