<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
  import {mapState} from 'vuex';

  export default {
    name : 'App',
    data() {
      return {}
    },
    computed : {
      ...mapState(['token'])
    },
    mounted() {
      if (!this.token || this.token.length === 0) {
        this.$router.push('/login');
      } else {
        if (this.$route.path === '/login'){
          this.$router.push('/');
        }
      }
    },
    watch : {
      token : function (newValue , oldValue) {
        if (!newValue || newValue.length === 0) {
          this.$router.push('/login');
        } else {
          if (this.$route.path === '/login'){
            this.$router.push('/');
          }
        }
      }
    }
  }
</script>

<style>

</style>
