<template>
  <el-dialog
    title="New Sale"
    :visible.sync="isShown"
    @close="$emit('closeSalesDialog')"
    :width="getWidth"
    center>

    <div slot="title">
      <h3>New Sale</h3>
    </div>

    <el-form :label-position="'left'" label-width="100px" :model="newSale">

      <el-form-item label="Product">
        <el-autocomplete
          class=""
          style="width: 100%"
          v-model="state2"
          :fetch-suggestions="querySearch"
          placeholder="Please Input"
          :trigger-on-focus="false"
          @select="handleSelect"
        />
      </el-form-item>

      <el-form-item
        label="Quantity"
        prop="quantity"
        :rules="[
                { required: true, message: 'Quantity is required'},
                { type: 'number', message: 'Quantity must be a number'}
              ]"
      >
        <el-input @input="getPrice" v-model.number="newSale.quantity"/>
      </el-form-item>


      <div class="price-box">
        Amount : {{formatAsCurrency(newSale.price)}}
      </div>

    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="$emit('closeSalesDialog')">Cancel</el-button>
      <el-button type="primary" @click="createSale">Confirm</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import {mapState} from 'vuex';
  import {formatAsCurrency} from './../../util/FormatterUtil';

  export default {
    name : "create-sales-modal",
    props : ['isVisible'],
    data() {
      return {
        state2 : '',
        links : [],
        newSale : {
          price : 0,
          productId : 0,
          quantity : 1
        },
        isShown : false,
        selectedProduct : {}
      }
    },
    methods : {
      querySearch(queryString, cb) {
        let links = this.links;
        let results = queryString ? links.filter(this.createFilter(queryString)) : links;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) >= 0);
        };
      },
      handleSelect(item) {
        this.newSale.productId = item.product.id;
        this.selectedProduct = item.product;
        this.getPrice();
      },
      createSale : function () {
        this.$store.dispatch('createSale', this.newSale)
          .then(ignore => {
            this.$emit('closeSalesDialog');
          })
      },
      getPrice : function () {
        this.newSale.price = this.newSale.quantity * this.selectedProduct.sellingPrice;
      },
      formatAsCurrency: function (value) {
        return formatAsCurrency(value);
      },
      loadAll() {
        let tempProducts = Object.values(this.products);
        return tempProducts.map(product => {
          return {
            value : product.name,
            product
          }
        });
      }
    },
    computed : {
      ...mapState(['products']),
      getWidth: function () {
        return this.$mq === 'mobile'? '80%' :
          this.$mq === 'phablet'? '70%' :
            this.$mq === 'tablet'? '60%' :
              this.$mq === 'laptop'? '50%' :'80%';
      }
    },
    mounted() {
      this.links = this.loadAll();
    },
    watch : {
      isVisible : function () {
        this.isShown = this.isVisible;
      }
    }
  }
</script>

<style scoped>
  .price-box {
    line-height: 3rem;
    background: rgba(150, 250, 150, 0.3);
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding-right: 1rem;
    border-top: 1px solid #AAA;
  }
</style>
