<template>
  <div>

    <!--<el-row>
      <el-col :span=24>
        <el-card>
          <el-row style="margin-bottom: 5px">
            <el-col :span=12>
              <div class="block">
                <span class="demonstration">Date Range</span>
                <el-date-picker
                  v-model="dateRange"
                  type="daterange"
                  align="right"
                  unlink-panels
                  range-separator="To"
                  start-placeholder="Start date"
                  end-placeholder="End date"
                  :picker-options="pickerOptions">
                </el-date-picker>
              </div>
            </el-col>
            <el-col :span=12>
              <div class="block">
                <span class="demonstration">Query</span>
                <el-input
                  @input="isTyping = true"
                  @keyup.enter="onKeyEnter"
                  v-model="query"/>
              </div>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>-->
    <el-row :span=24>
      <el-col :xs=24 :sm=8 :md=8 :lg=6 :xl=6>
        <div class="block">
          <span class="hidden-sm-and-down demonstration">From</span>
          <el-date-picker
            v-model="fromDate"
            type="date"
            placeholder="From">
          </el-date-picker>
        </div>
      </el-col>
      <el-col :xs=12 :sm=8 :md=8 :lg=6 :xl=6>
        <div class="block">
          <span class="hidden-sm-and-down demonstration">To</span>
          <el-date-picker
            v-model="toDate"
            type="date"
            placeholder="To">
          </el-date-picker>
        </div>
      </el-col>
      <el-col :xs=24 :sm=8 :md=8 :lg=12 :xl=12>
        <button-component
          :text="'New Sale'"
          :type="'success'"
          :position="'right'"
          @onClick="onNewSale"
        />
      </el-col>
    </el-row>

    <sales-table
      :filtered-sales="filteredSales"
      :title="'Sales'"
    />

    <br/>
    <div class="block">
      <el-pagination
        style="float: right; clear: both"
        :page-size="pagination.pageSize"
        layout="prev, pager, next"
        @current-change="onChangePage"
        :total="salesLength">
      </el-pagination>
    </div>

    <br/>
    <br/>
    <el-row>
      <el-col :span=24>
        <el-card>
          Graph of sales trend
        </el-card>
      </el-col>
    </el-row>

    <div class="sales-summary">
      <span class="sales-summary-item" :span=6>
        Total Sales: {{formatAsCurrency(salesSummary.totalSales)}}
      </span>
      <span class="sales-summary-item" :span=6>
        Total Profit: {{formatAsCurrency(salesSummary.totalProfit)}}
      </span>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {slice, debounce, filter} from 'lodash';
  import moment from 'moment';
  import SalesTable from "./SalesTable";
  import ElRow from "element-ui/packages/row/src/row";
  import {evaluateSalesAmount} from "../../util/SalesUtil";
  import {formatAsCurrency} from "../../util/FormatterUtil";
  import ButtonComponent from "../general/ButtonComponent";

  export default {
    components : {
      ButtonComponent,
      ElRow,
      SalesTable
    },
    name : "sales-container",
    data() {
      return {
        fromDate: '',
        toDate: '',
        filteredSales : [],
        allPagesSales : [],
        salesLength: 0,
        dateRange : '',
        pagination : {
          pageSize : 5,
        },
        pickerOptions : {
          shortcuts : [
            {
              text : 'Last week',
              onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
              }
            },
            {
              text : 'Last month',
              onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
              }
            },
            {
              text : 'Last 3 mths',
              onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
              }
            }
          ]
        },
        query : '',
        isTyping : false,
        salesSummary : {
          totalProfit : 0,
          totalSales : 0
        },
        isShowSalesModal: false
      }
    },
    mounted() {
      this.filterSales();
    },
    computed : {
      ...mapState(['sales'])
    },
    methods : {
      onChangePage : function (val) {
        const sliceBegins = (val - 1) * this.pagination.pageSize;
        const sliceEnds = val * this.pagination.pageSize;
        this.filteredSales = slice(this.allPagesSales, sliceBegins, sliceEnds);
      },
      handleInPageSearch : function (val) {
        if (!val || val.length === 0) {
          this.onChangePage(1);
          return;
        }
        const allSales = Object.values(this.sales);
        let matches = filter(allSales, sale => {
          return sale.product.name.toLowerCase().indexOf(val.toLowerCase()) > -1;
        });
        this.filteredSales = slice(matches, 0, this.pagination.pageSize);
      },
      onKeyEnter : function (val) {
        console.log('We search for', val);
      },
      evaluateSalesAmount : function (sales) {
        this.salesSummary = evaluateSalesAmount(sales);
      },
      formatAsCurrency : function (value) {
        return formatAsCurrency(value);
      },
      onNewSale : function () {
        this.isShowSalesModal = true;
      },
      filterSales : function () {
        const {fromDate, toDate} = this;


        let salesValues = Object.values(this.sales);
        //const allSales = Object.values(this.sales);


        if (fromDate){
          let start = moment(fromDate);
          salesValues = filter(salesValues, sale=>{
            return moment(start).startOf('day').isBefore(moment(sale.createdAt));
          })
        }

        if (toDate){
          let end = moment(toDate);
          salesValues = filter(salesValues, sale=>{
            return moment(end).endOf('day').isAfter(moment(sale.createdAt));
          })
        }
        this.salesLength = salesValues.length;
        this.evaluateSalesAmount(salesValues);
        salesValues = salesValues.reverse();
        this.allPagesSales = salesValues;
        this.filteredSales = slice(salesValues, 0, this.pagination.pageSize);
      }
    },
    watch : {
      sales : function () {
        this.filterSales();
        /*const allSales = Object.values(this.sales);
        this.evaluateSalesAmount(allSales);
        this.filteredSales = slice(allSales, 0, this.pagination.pageSize);*/
      },
      query : debounce(function () {
        this.isTyping = false;
      }, 1000),
      isTyping : function (value) {
        if (!value) {
          this.handleInPageSearch(this.query);
        }
      },
      fromDate: function () {
        this.filterSales();
      },
      toDate: function () {
        this.filterSales();
      }
    }
  }
</script>

<style scoped>
  .sales-summary {
    height: 4rem;
    position: fixed;
    background-color: rgb(44, 62, 80);
    left: 280px;
    right: 0;
    bottom: 0;
    padding-left: 1.2rem;
    text-align: center;
  }

  .sales-summary-item {
    font-size: 22px;
    line-height: 4rem;
    color: #DDDDDD;
    border-right: 1px solid;
    margin-right: 2rem;
    padding-right: 2rem;
  }
</style>
