<template>
  <div>
    <h3 class="">{{title}}</h3>
    <el-card class="box-card">
      <el-table
        :data="filteredSales"
        style="width: 100%"
      >
        <el-table-column type="index" width="50" label="S/N"/>
        <el-table-column prop="createdAt" label="Date" width="140" :formatter="formatDate"/>
        <el-table-column prop="product.name" label="Name"  min-width="200"  />
        <el-table-column prop="quantity" label="Quantity" width="100"/>
        <el-table-column prop="price" min-width="120" label="Price"  :formatter="formatPriceAsCurrency"/>
        <el-table-column prop="profit" min-width="120" label="Profit" :formatter="formatProfitAsCurrency"/>
      </el-table>
    </el-card>
  </div>
</template>

<script>
  import moment from 'moment';
  import {formatAsCurrency} from './../../util/FormatterUtil';
  export default {
    name : "sales-table",
    props : ['filteredSales', 'title'],
    methods:{
      formatDate: function (row, column) {
        return moment(row.createdAt, 'YYYY-MM-DD HH:mm:ss').format("MMM Do");
      },
      formatPriceAsCurrency: function (row, column) {
        return formatAsCurrency(row.price);
      },
      formatProfitAsCurrency: function (row, column) {
        return formatAsCurrency(row.profit);
      }
    }
  }
</script>

<style scoped>

</style>
