<template>
  <div class="login-container">
    <div class="login-form">
      <div style="text-align: center; margin-top: 1rem">
        <img style="vertical-align: middle" src="/static/img/sale_icon.png" height="30px"/>
        <span class="app-logo-name">Charta</span>
      </div>
      <el-form
        :label-position="'top'"
        style="margin: 2rem"
        label-width="100px"
        :model="user">
        <el-form-item>
          <label>Email or Phone</label>
          <el-input v-model="user.phone"/>
        </el-form-item>
        <el-form-item>
          <label>Password</label>
          <el-input v-model="user.password"/>
        </el-form-item>
        <br/>
        <el-button
          type="primary"
          style="width: 100%"
          @click="login"
          :loading="isLoading"
          plain>
          Login
        </el-button>
      </el-form>
    </div>
  </div>
</template>

<script>

  export default {
    name : "login-container",
    data() {
      return {
        user : {
          phone : '08024708087',
          password : 'testpass'
        },
        isLoading: false
      }
    },
    methods:{
      login: function () {
        if (this.user.phone.length === 0 || this.user.password.length === 0){
          return;
        }
        this.isLoading = true;
        this.$store.dispatch('login', this.user)
          .then(()=>{
            this.isLoading = false;
            this.$router.push('/');
          })
          .catch(()=>{
            this.isLoading = false;
          });
      }
    }
  }
</script>

<style scoped>
  .app-logo-name{
    line-height: 30px;
    height: 30px;
    font-size: 29px;
    font-weight: bold;
    vertical-align: middle;
  }

  .login-container {
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    color: #DDDDDD;
  }

  .login-container::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background: url("/static/img/background3.jpg") 80% 80%;
  }

  .el-form-item__label {
    line-height: 10px !important;
  }

  .login-form {
    position: fixed;
    background: rgba(0,0,0,0.6);
    height: 24rem;
    width: 40%;
    top: 25%;
    left: 30%;
    z-index: 1;
    border: 1px solid #333;
    border-radius: 1rem;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    .login-form {
      width: 80%;
      top: 25%;
      left: 10%;
      height: 24rem;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen
  and (min-width: 321px) {
    /* Styles */
  }

  /* Smartphones (portrait) ----------- */
  @media only screen
  and (max-width: 320px) {
    /* Styles */
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .login-form {
      width: 40%;
      top: 20%;
      left: 30%;
      height: 24rem;
    }
  }

  /* iPads (landscape) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    .login-form {
      width: 40%;
      top: 20%;
      left: 30%;
      height: 24rem;
    }
  }

  /* iPads (portrait) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    .login-form {
      width: 60%;
      top: 30%;
      left: 20%;
      height: 24rem;
    }
  }

  /* Desktops and laptops ----------- */
  @media only screen
  and (min-width: 1224px) {
    .login-form {
      width: 40%;
      top: 20%;
      left: 30%;
      height: 24rem;
    }
  }

  /* Large screens ----------- */
  @media only screen
  and (min-width: 1824px) {
    /* Styles */
  }

  /* iPhone 4 ----------- */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
  }

</style>
